body{
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
}
table{
  border-radius:6px;
}
.thead-color{
  background-color: #DB2C25;
  color: #FFFFFF;
}
.btn{
  float: right;
  margin-bottom: 10px;
}
.form-inline{
  justify-content: center;
}
.forum-col{
    min-width: 16em;
}
.last-post-col {
    min-width: 12em;
}
