<header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Unified Help</span></a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul id = "navLinks">
          <li class="active"><a href="{{url_for('home')}}" onclick="">Home</a></li>
          <li class="navLinks"><a href="{{url_for('donate')}}">Donate</a></li>
          <li class="navLinks"><a href="{{url_for('forum')}}">Customer Support</a></li>
          <li class="navLinks"><a href="">Account</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header>
