<header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Unified Help</span></a></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="{{url_for('static', filename = 'Donate.html')}}">Donate</a></li>
          <li><a href="">Customer Support</a></li>
          <li><a href="">Account</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header>
