{% extends "base.html" %}
{% block title %}Donate History{% endblock %}

{% block head %}
{% endblock %}



{% block content %}

<br/><br/><br/><br/>
<h2>Donation History</h2>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Donation ID</th>
                <th>Description</th>
                <th>To Who</th>
                <th>Collection Details</th>
                <th>Value</th>
                <th>Confirmed?</th>
            </tr>
        </thead>
        <tbody>
        {% for donorM in donorsM_list %}
            <tr>
                <td>{{ donorM.get_moneyID() }}</td>
                <td>{{ donorM.get_donate_type() }}</td>
                <td>{{ donorM.get_donate_who() }}</td>
                <td></td>
                <td>{{ donorM.get_money_amount }}</td>
                <td></td>
            </tr>
        {% endfor %}

        {% for donorI in donorsI_list %}
            <tr>
                <td>{{ donorI.get_itemID() }}</td>
                <td>{{ donorI.get_item_name() }}</td>
                <td>{{ donorI.get_donate_who() }}</td>
                <td>{{ donorI.get_collection_type() }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
