{% extends "base.html" %}
{% block title %}Donate History{% endblock %}

{% block head %}
{% endblock %}

{% set active_page = "donate" %}

{% block content %}

<br/><br/><br/>

<div class="col-lg-12" style="margin: 1% 1.5%;">
    <h2>Donation History</h2>
    <br>
    <div class="col-lg-12">
        <table class="table table-striped table-hover" style="border-radius: 50px;">
            <thead class="thead-dark">
                <tr>
                    <th>Donation ID</th>
                    <th>Description</th>
                    <th>To Who</th>
                    <th>Collection Details</th>
                    <th>Amount/Value, $</th>
                    <th>Confirmed?</th>
                </tr>
            </thead>
            <tbody>
            {% for donorM in donorsM_list %}
                <tr>
                    <!-- Donation ID -->
                    {% if donorM.get_donate_type() == "Monetary Donation" %}
                    <td>{{ donorM.get_moneyID() }}</td>
                    {% elif donorM.get_donate_type() == "Item Donation" %}
                    <td><a href="/donate/itemupdate/{{ donorM.get_itemID() }}">{{ donorM.get_itemID() }}</a></td>
                    {% endif %}

                    <!-- Donation Description -->
                    {% if donorM.get_donate_type() == "Monetary Donation" %}
                    <td>{{ donorM.get_donate_type() }}</td>
                    {% elif donorM.get_donate_type() == "Item Donation" %}
                    <td>{{ donorM.get_donate_type() }}: <br> {{ donorM.get_item_name() }}</td>
                    {% endif %}

                    <!-- Donate to Who -->
                    <td>{{ donorM.get_donate_who() }}</td>

                    <!-- If item donation, only show collection type -->
                    {% if donorM.get_donate_type() == "Item Donation" %}
                    <td>{{ donorM.get_collection_type() }}</td>
                    <td>--</td>
                    {% endif %}

                    <!-- If Monetary donation, only show amount donated -->
                    {% if donorM.get_donate_type() == "Monetary Donation" %}
                    <td>--</td>
                    <td>{{ donorM.get_money_amount() }}</td>
                    {% endif %}

                    <!-- Donation Confirmation -->
                    <td></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
