{% extends "base.html" %}
{% block title %}Donate{% endblock %}

{% block head %}
<!-- <link href="{{url_for('static', filename = 'css/donateForm.css')}}" rel="stylesheet"> -->
{% endblock %}



{% block content %}
<br /><br /><br /><br />

<form style="text-align: center;">
  <div style = "margin-left: 700px; " class="form-row">
    <div class="form-group col-md-5 text-center">
      <label for="inputEmail4">Donate to Who?</label>
      <select id="inputState" class="form-control">
        <option selected>Under Privileged</option>
        <option>Physically Handicaped</option>
        <option>Special Needs</option>
        <option>Natural Disaster Survivors</option>
      </select>
    </div>
  </div>

  <div style = "margin-left: 700px; " class="form-row">
    <div class="form-group col-md-5">
      <label for="inputPassword4">Donation Type</label>
      <select id="inputState" class="form-control">
        <option selected>Monetary Donation</option>
        <option>Item Donation</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Donate!</button>
</form>

<br /><br /><br /><br />
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename = 'js/donateForm.js')}}"></script>
{% endblock %}
