{% extends "base.html" %}
{% block title %}Donate{% endblock %}

{% block head %}
<!-- <link href="{{url_for('static', filename = 'css/donateForm.css')}}" rel="stylesheet"> -->
{% endblock %}



{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<br/><br/><br/><br/>
<h2>Donation Details</h2>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.donateToWho, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.donationType, class="form-control") }}
  </div>
  <br/>
  <input type="submit" value="Next Step" class="btn btn-primary"/>
</form>

{% endblock %}

{% block scripts %}
<!--<script src="{{url_for('static', filename = 'js/donateForm.js')}}"></script>-->
{% endblock %}
