{% extends "base.html" %}
{% block title %}UnifiedHelpForum{% endblock %}
  {% block head %}
    <link href="{{url_for('static', filename = 'css/style-forum.css')}}" rel="stylesheet">
  {% endblock %}

<body>

  {% block content %}
  <br/><br/><br/><br/>
  <main>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>

    <div class="container my-3">
      <nav class="breadcrumb">
          <h6 class="breadcrumb-item active" div="breadcrumb-text-color">Index</h6>
      </nav>
      <!-- Pinned Threats Forum -->
      <div class="row">
        <div class="col-12 col-xl-12">
          <h2 class="h4">Pinned Threats</h2>
          <table class="table table-bordered table-responsive">
        <thead class="thead-color">
          <tr>
            <th scope="col" class="forum-col">Topics</th>
            <th scope="col">Posts</th>
            <th scope="col">Upvotes</th>
            <th scope="col" class="last-post-col">Date Posted</th>
          </tr>
        </thead>
        <tbody>
        {% for post in pinned_posts_list %}
        <tr>
          <td class="container-fluid">
            <h3 class="h5"><a href="#0">{{ post.get_post_subject() }}</a></h3>
            <p>{{ post.get_post_message() }}</p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Announcement Forum -->
      <h2 class="h4">Announcements</h2>
      <table class="table table-bordered table-responsive">
        <thead class="thead-color">
          <tr>
            <th scope="col" class="forum-col">Topics</th>
            <th scope="col">Posts</th>
            <th scope="col">Upvotes</th>
            <th scope="col" class="last-post-col">Date Posted</th>
          </tr>
        </thead>
        <tbody>
        {% for post in announcements_list %}
        <tr>
          <td class="container-fluid">
            <h3 class="h5"><a href="#0">{{ post.get_post_subject() }}</a></h3>
            <p>{{ post.get_post_message() }}</p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Unified Help Community Forum -->
      <h2 class="h4">Unified Help Community</h2>
      <a href="/forum/createforumpost"><button type="button" class="btn btn-outline-danger">Create Thread</button></a>
      <table class="table table-bordered table-responsive">
        <thead class="thead-color">
          <tr>
            <th scope="col" class="forum-col">Topics</th>
            <th scope="col">Posts</th>
            <th scope="col">Upvotes</th>
            <th scope="col" class="last-post-col">Date Posted</th>
          </tr>
        </thead>
        <tbody>
          {% for post in uhc_list %}
        <tr>
          <td class="container-fluid">
            <h3 class="h5"><a href="#0">{{ post.get_post_subject() }}</a></h3>
            <p>{{ post.get_post_message() }}</p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </main>
  <!-- End #main -->
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

</body>
