{% extends "base.html" %}

  {% block head %}
    <link href="{{url_for('static', filename = 'css/style-customer.css')}}" rel="stylesheet">
  {% endblock %}

<body>

  {% block content %}

  <main>
    <div class="container forumBackground">
      <div class="row">
        <div class="col-lg-">
          <a href="#">Home</a><i class="fas fa-chevron-circle-right"></i><a href="#">Category</a><i class="fas fa-chevron-circle-right"></i><a href="#">Discussion</a>
        </div>

      </div>
    </div>
  </main><!-- End #main -->
  {% endblock %}

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

</body>
